<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ordinance/Resolution</title>
    <link rel="stylesheet" href="{% static 'admin-ordi-reso1.css' %}">
</head>
<body>
    <div class="container">
        <h2>Add Ordinance/Resolution</h2>
        <div class="form-box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'admin_dash' %}" class="cancel-button" type="button">Cancel</a>
            </form>
        </div>
    </div>
    <script src="{% static 'admin-ordi-reso.js' %}"></script>
</body>
</html>
